.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
}

/* Hero Top Section */
.hero_top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.hero_left {
  flex: 1;
  max-width: 50%;
  padding: 20px;
}

.hero_left h1 {
  font-size: 4.5rem;
  color: #fd0808;
  margin: 20px 0;
}

.hero_left h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 10px;
}

.hero_left p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 10px;
}

.hero_right {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_right img {
 width: 800px;
 height: 0%;
 object-fit: contain;
  border-radius: 10px;

}

/* Hero Bottom Section */
.hero_bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: #f9f9f9;

}

.hero_content {
  flex: 1 1 calc(10% - 10px);
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;  
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.hero_content:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(49, 47, 47, 0.1);

}

.info_icon {
  font-size: 2.0rem;
  color: #007bff;
  margin-bottom: 10px;

}

.details h3 {
  font-size: 1.0rem;
  color: #6e0308;
  margin-bottom: 5px;
}

.details p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero_top {
    flex-direction: column;
  }

  .hero_left, .hero_right {
    max-width: 100%;
    text-align: center;
  }

  .hero_left h1 {
    font-size: 2.5rem;
  }

  .hero_left h2 {
    font-size: 1.8rem;
  }

  .hero_bottom {
    flex-direction: column;
    gap: 10px;
  }

  .hero_content {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .hero_left h1 {
    font-size: 2rem;
  }

  .hero_left h2 {
    font-size: 1.5rem;
  }

  .info_icon {
    font-size: 2rem;
  }

  .details h3 {
    font-size: 1.2rem;
  }

  .details p {
    font-size: 0.9rem;
  }
}
