/**{
  margin: 0;
  padding: 0;
  
}
body{
  padding-inline: 80px;
  background-color: rgb(200, 200, 247);
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
