@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**
Targets all elements to apply a universal reset.
margin: 0;: Removes default margin from all elements.
padding: 0;: Removes default padding from all elements.
box-sizing: border-box;: Ensures padding and borders are included in an element’s width/height calculations.
body: Applies the following styles to the body element, font-family: Sets the default font for the webpage.
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:white;
  padding-inline: 0px;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.product-container{
  margin-top: 50px;
}
.list-header h1{
  font-size: 20px;
  font-weight: bold;
}
.product-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5px;
  column-gap: normal;
  justify-content: center;
  margin-top: 10px;
}
.product-card{
  width: 200px;
  border: 1px solid #ffffff;
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;

}
.product-card:hover{
  box-shadow: 0 0 10px 0 rgba(75, 62, 62, 0.1);
}
.product-card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  transform: scale(0.8);
  transition: transform 0.4s ease;
}
.product-image{
  position: relative;
  overflow: hidden;
}
.product-card:hover img{
  transform: scale(1.2);
}
.product-card h3{
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.product-card h2{
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-card p{
  font-size: 14px;
  color: #fc059d;
  margin-top: 10px;
}
.product-card button{
  background: #f7f6f4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.banner img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}